<h1>All users</h1>

<div class="mainCont">
    
    <% @users.each do |user| %>
    
        <div class="itemhols">
            <h1>User Id: <%= user.id %></h1>
            <h1>email: <%= user.email %></h1>
            <h1>Admin: <%= user.admin %></h1>
            <h1>Staff: <%= user.staff %></h1>
            <h1>Password: <%= user.password %></h1>
            <p><a href="/makeAdmin/<%= user.id %>" class="button">Make Admin</a></p>
            <p><a href="/removeAdmin/<%= user.id %>" class="button">Remove Admin</a></p>
            <p><a href="/makeStaff/<%= user.id %>" class="button">Make Staff</a></p>
            <p><a href="/removeStaff/<%= user.id %>" class="button">Remove Staff</a></p>
        </div>
       
    <% end %>
    
    
</div>
