<div class="mainCont">
  
  <%= form_for(item) do |f| %>
  
    <% if item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
  
        <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= f.label :productId %>
      <%= f.number_field :productId, id: :item_productId, :type =>"text" %>
    </div>
  
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, id: :item_titl, :type =>"text"%>
    </div>
  
    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description, id: :item_description, :type =>"text" %>
    </div>
  
    <div class="field">
      <%= f.label :price %>
      <%= f.text_field :price, id: :item_price, :type =>"text" %>
    </div>
  
    <div class="field">
      <%= f.label :image_url %>
      <%= f.text_field :image_url , id: :item_image_url, :type =>"text" %>
    </div>
  
    <div class="field">
      <%= f.label :category %>
      <%= f.text_field :category, id: :item_category, :type =>"text" %>
    </div>
  
    <div class="field">
      <%= f.label :productType %>
      <%= f.text_field :productType, id: :item_productType, :type =>"text" %>
    </div>
  
    <div class="field">
      <%= f.label :brand %>
      <%= f.text_field :brand, id: :item_field, :type =>"text" %>
    </div>
  
    <div class="field">
      <%= f.label :supplierId %>
      <%= f.number_field :supplierId, id: :item_supplierId, :type =>"text" %>
    </div>
  
    <div class="actions">
      <%= f.submit %>
    </div>
    
  <% end %>

</div>