<header class="headSec">
     
    <h1>Butterscotch</h1>
     
    <ul>
     
        <li><%= link_to "Home",  "/" %></li>
        <li><%= link_to "Products",  "/products" %></li>
        <li><%= link_to "Categories",  "/categories" %></li>
        <li><%= link_to "Users",  "/users" %></li>
        <li><%= link_to "Suppliers",  "/suppliers" %></li>
        <li><%= link_to "About Us", "/about" %></li>
        <li><%= link_to "Contact Us", "/contact" %></li>
        <li><%= link_to "Log In", "/login"%></li>
        <li><%= link_to "Log Out", "/logout" %></li>
        <li><%= link_to "Cart", "/cart" %></li>
     
    </ul>
     
</header>